<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>presentacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ITLA</ion-card-subtitle>
      <ion-card-title>Perfil</ion-card-title>
    </ion-card-header>
      <picture>
        <ion-item *ngFor="let item of items">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.src" alt="Picture 2x2 of Andri"></ion-img>
          </ion-thumbnail>
          <ion-label>{{item.text}}</ion-label>
      </ion-item>
    </picture>
  </ion-card>
</ion-content>
