<ion-header>
  <ion-toolbar>
    <ion-title>presentacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bonilla Guzman</ion-card-subtitle>
      <ion-card-title>Andri Manuel</ion-card-title>
    </ion-card-header>
      <picture>
        <img src="../../assets/andri.jpeg" alt="Picture 2x2 of Andri">
        <figcaption>
            <address>
              <p>Andri Bonilla Guzman</p>
            </address>
        </figcaption>
    </picture>
  </ion-card>
</ion-content>
